body {
    background: linear-gradient(to right, #4e54c8, #8f94fb);


}

.navigation, .logout {
    display: inline-block;


}

.dashboard {
    background: white;
    border-radius: 10px;
    margin: 40px
}

.

