<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form>
        <label for="login">Login</label>
        <input name="username" type="text" id="login" required placeholder="username">
        <label for="password">Password</label>
        <input name="password" type="text" id="password" required placeholder="password">
        <input type="submit" value="Log In">
    </form>
</body>


<script th:src="@{/js/requests.js}"></script>
<!--<form method="POST" action="login">-->

</html>

