<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>
        <label for="login">Login</label>
        <input type="text" id="login" required>
        <label for="password">Password</label>
        <input type="text" id="password" required>
        <input type="submit" value="send">
    </form>
</body>

<script src="scripts/requests.js"></script>


</html>

